<div>
    <h2>User 1</h2>
    <img [src]="user.photo" [alt]="user.name" />
    <h2>First Name: {{user.firstName}}</h2>
    <h2>Last Name: {{user.name}}</h2>
    <h2 *ngIf="displayElement">Age: {{user.age}}</h2>
    <div style="display: flex;">
        <h2>Quote:</h2>
        <input type="text" [(ngModel)]="user.quote" />
    </div>
    <button (click)="hideAge()">Hide age</button>
</div>
<div>
    <h2>User 2</h2>
    <img [src]="person2.photo" [alt]="person2.name" />
    <h2>First Name: {{person2.firstName}}</h2>
    <h2>Last Name: {{person2.name}}</h2>
    <h2 *ngIf="displayElement">Age: {{person2.age}}</h2>
    <div style="display: flex;">
        <h2>Quote:</h2>
        <input type="text" [(ngModel)]="person2.quote" />
    </div>
    <button (click)="hideAge()">Hide age</button>
</div>